/*********************************

body

*********************************/

html,body{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif,"宋体";
	min-height:100%;
	margin:0;
	padding:0;
	line-height:1.5;
}
body{
	width:100%;
	font-size:15px;
	background:#fefefe;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

/*********************************

header

*********************************/

header:before{
	content:"Land Jiao W3C";
	font-size:1rem;
	display:block;
	height:2em;
	line-height:2em;
	text-align:center;
	background:#3FBDB1;
}
h1{
	margin:0 10px 7px;
	padding:0 0 5px;
	border-bottom:4px solid #555;
	color:#0f0;
}
/*********************************

nav

*********************************/

.breadcrumbs{
	background:red;
}
.breadcrumbs a:after{
	content:" >> ";
}
.breadcrumbs span{
	color:#000;
}

/*********************************

article

*********************************/

article{
	max-width:850px;
	margin:0 auto 10px;
	overflow:hidden;
	padding:0 5px 20px;
}
div,p{
	margin:1em 10px;
	text-align:justify;
}
.contents{
	overflow:hidden;
	padding:0 20px;
	display:table;
	background:#ddd;
	border-radius:5px;
}
h5{
	font-size:1em;
	font-weight:normal;
}
h2,h3{
	position: relative;
	margin:20px 0 15px 10px;
}
p a{
	color:#36b;
}
ul{
	margin:0;
	padding:0 0 0 1.2em;
}
ul li{
	display:block;
	position:relative;
}
ul li:before{
	content:"\27a2";
	position:absolute;
	left:-1em;
	top:0;
}
ol ol{
	list-style-type:lower-roman;
}
li p{
	text-indent:0;
}

footer{

}

@media screen and (max-width:850px){
	body>div{
		margin:10px;
	}
}
@media screen and (max-width:720px){
	h2:before{
		left:-15px;
		content:"\258c";
		color:#3879D9;
		position:absolute;
	}
	.contents{
		display: block;
	}
	p,li{
		font-size:15px;
		margin:10px 0;
	}
}